#hero-section {
    background-image: url("./../../public/images/tim-kilby-x2qzLL3vdBs-unsplash-edited.jpg");
    background-position: center;
    background-size: cover;
}

#hero-section::before {

}