/*
This is to style your webpage
*/

.App {
  text-align: center;
  list-style-type: none;
}

.App {
  background-color: #00ff15;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App li{
  display: inline;
}

